.main-footer {
    border-top: 3px solid #000; padding-bottom: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: 4fr 2fr;
    border-bottom: 3px solid #000; padding-bottom: 10px;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 0.75rem;
}

.text-white {
    font-weight: 600;
    font-size: 1rem;
    margin-right: 0.75rem;
    text-align: left;
}