/* wea principal */
.navbar {
  padding: 10px 10px 10px 10px;   
  padding-bottom: 10px;
  background-color: #d9d9d9;
}

.navHeader {
  border-bottom: 3px solid #000; 
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  align-items: center;
}

/* Quitar subrayados en enlaces */
.navbar a {
  text-decoration: none;
}

.navbar .nav-link, .navbar {
    font-weight: 900;
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

